@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"],
input[type="email"], input[type="number"], input[type="tel"] {
  @apply w-full border my-2 py-2 px-3 rounded-2xl;
}

textarea{
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
  height: 100px;
}

button {
  @apply bg-gray-300;
}

button.primary {
  background-color: #F53850;
  @apply bg-primary mt-2 p-2 w-full text-white rounded-2xl;
}

.hover_icon_botton {
  @apply cursor-pointer absolute text-white bg-black bg-opacity-50 rounded-2xl py-1 px-1;
}

.hover_icon_botton:hover {
  background-color: #F53850;
  transform: translateY(-0.15em);
}
.hover_botton {
   @apply primary;
}
.hover_botton:hover {
  color: rgb(0, 34, 128);
  font-weight: bold;
  transform: translateY(-0.15em);
}
